{% extends 'BigBoringBlog/main.html' %}

{% block content %}
<div class="about">
    <h1>This site was made by SUHAS.K.SHETTY [Me] because I was bored</h1>
    <hr>
    <h2>This site was inspired by www.4chan.org</h2>
    <h2>You are Anonymous or can use any other name</h2>
    <h2>The site is text based only</h2>
    <h2>-[ Special Thanks to my sister Phalguni.K.Shetty ]-</h2>
    <br><br><br>
    <a href="https://github.com/DarkSchokolade"><h3>Github</h3></a>
    <a href="https://www.linkedin.com/in/suhas-k-shetty-23b76619b/"><h3>Linkedin</h3></a>
</div>


{% endblock %}