{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BigBoringBlog</title>

    <style>
        @import url("{% static 'BigBoringBlog/css/style.css' %}");
        @import url("{% static 'BigBoringBlog/css/card.css' %}");
    </style>
</head>
<body>
    {% include 'BigBoringBlog/nav.html' %}
    {% block content %}

    {% endblock content %}

    <div class="footer">
        <h3>BigBoringBlog <sub>by suhas.k.shetty</sub></h3>
    </div>
</body>
</html>